body {
	background-image: url("../img/accueil.jpeg");
	background-position: 50% 70px;
	background-color: #00040f;
	background-repeat: no-repeat;
}

p {
	text-align: center;
	font-size: 22px;
}

section {
	padding-top: 60px;
	padding-bottom: 60px;
}

#competences {
	background-color: green;
}

#projets {
	background-color: blue;
}

.main-content {
  padding-bottom: 50px;
}

.container-fluid {
	width: 100%;
	border-bottom: 1px solid #e7e7e7;;
	background-color: #f8f8f8;
}

#left button {
	/* flex: auto; */
	float: left;
	/* flex-basis: 0; */
}

#left ul {
	padding-top: 10px;
	padding-bottom: 10px;
}

#middle {
	/* flex: auto; */
	/* flex-basis: 0; */
}

#right {
	/* flex: auto; */
	top: 10px;
	float: right;
	/* flex-basis: 0; */
}

#right a {
	font-size: 20px;
}

.navbar-custom .navbar-brand, .navbar-custom .nav li a {
	color: #c84494;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #c84494;
}

footer.footer-min {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 3px;
  background-color: #f5f5f5;
  border-top: 1px solid #eeeeee;
  text-align: center;
}

footer p {
	font-size: 14px;
}
