<header>

	<div class="collapse" id="navbarToggleExternalContent">
		<div class="p-4" id="navbarContent">
			<h5 class="h4">Collapsed content</h5>
			<span class="">Toggleable via the navbar brand.</span>
			<h5 class="h4">Collapsed content</h5>
			<span class="">Toggleable via the navbar brand.</span>
		</div>
	</div>

	<nav class="navbar p-0 mb-5">
		<div class="container-fluid">
			<button class="navbar-toggler" id="navbar-button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent"
				aria-controls="navbarToggleExternalContent">
				<span class="fa-solid fa-bars fa-lg p-1"></span>
			</button>

			<a class="navbar-avatar" alt="Home page {{ $.Site.Title }}" href=".">
				<img class="avatar-img" alt="Avatar Pierrick MARIE" src="/img/avatar.png" />
			</a>

			<a class="navbar-title" alt="Home page Pierrick MARIE" href=".">
				<h1 class="fa-xl">Pierrick MARIE</h1>
			</a>
		</div>
	</nav>

</header>