[submodule "themes/gruvhugo"]
	path = themes/gruvhugo
	url = git@github.com:pierrick-marie/fork-gruvhugo-theme.git
[submodule "themes/beautifulhugo"]
	path = beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
