<header id="page-top" class="bg-primary">

	<div id="navbarToggleExternalContent" class="collapse">
		<div id="navbar-content" class="m-0">
			<a class="navbar-link" href="#projects">
				<h3 class="h5 m-0">Projets réalisés</h3>
			</a>
			<a class="navbar-link" href="#technologies">
				<h3 class="h5 m-0">Technologies</h3>
			</a>
			<a class="navbar-link" href="#contact">
				<h3 class="h5 m-0">Contacts</h3>
			</a>
		</div>
	</div>

	<nav id="navbar" class="navbar">
		<div id="navbar-container" class="container-fluid">
			<button class="navbar-toggler p-2" id="navbar-button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent"
				aria-controls="navbarToggleExternalContent">
				<span id="navbar-toggler-icon" class="fa-solid fa-bars"></span>
			</button>

			<a class="navbar-avatar p-0" href="." rel="author">
				<img class="avatar-img" alt="Avatar {{ $.Site.Params.author }}" src="./img/avatar.png">
			</a>

			<a id="navbar-title" href=".">
				<h1 class="h4 m-0">{{ $.Site.Params.author }}</h1>
			</a>
		</div>
	</nav>

</header>