<head>
	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="/css/fontawesome-6.2.1/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="/css/simple-gallery.css">


	{{ $options := (dict "targetPath" "style.css" "outputStyle" "compressed") }}
	{{ $sass := resources.Get "sass/main.scss" }}
	{{ $style := $sass | resources.ToCSS $options | resources.Fingerprint }}
	<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
	
	
	{{ $title := print .Site.Title " | " .Title }}
	{{ if .IsHome }} {{ $title = print .Site.Params.author " | " .Site.Title }} {{ end }}
	<title>{{ $title }}</title>

	<link rel="icon" type="image/x-icon" href="/img/favicon.ico">
</head>