<header id="page-top">

	<div id="navbarToggleExternalContent" class="collapse">
		<div id="navbar-content" class="m-0">

			{{ range .Pages.ByWeight }} <!-- All content pages -->
				{{ $s := .RelPermalink }}
				<a class="navbar-link" href="#{{ replace $s "/" "" }}">
					<h3 class="h5 m-0">{{ .Title }}</h3>
				</a>	
			{{ end }}

		</div>
	</div>

	<nav id="navbar" class="navbar">
		<div id="navbar-container" class="container-fluid">
			<button class="navbar-toggler p-2" id="navbar-button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent"
				aria-controls="navbarToggleExternalContent">
				<span id="navbar-toggler-icon" class="fa-solid fa-bars"></span>
			</button>

			<a class="navbar-avatar p-0" href="." rel="author">
				<img class="avatar-img" alt="Avatar {{ $.Site.Params.author }}" src="./img/avatar.png">
			</a>

			<a id="navbar-title" href=".">
				<h1 class="h4 m-0">{{ $.Site.Params.author }}</h1>
			</a>
		</div>
	</nav>

</header>