#contacts {
	margin-top: 8vh;
}

#contacts p {
	padding-top: 5vh;
	text-align: center;
}

#contacts a {
	text-decoration: underline;
}

.contacts-icons {
	width: 70%;

	padding-top: 5vh;
	margin-left: auto;
	margin-right: auto;


	display: flex;
	justify-content: space-around;

	filter: drop-shadow(0 0 1rem $dark);
}

.contacts-icons a img {
	height: 8vh;
	padding: 20px;
	padding-bottom: 1vh;
}

