{{ define "main" }}

<div class="body">

	<section id="main" class="content">
		<div class="text-center">

			<!-- <div id="title-1" class="titles-content"> { &nbsp; 💻 &nbsp; <h1>{{ .Site.Title }}</h1>&nbsp; 📱 &nbsp; } </div> <br>
			<div id="title-and" class="titles-content"> & & </div> <br>
			<div id="title-2" class="titles-content"> { &nbsp; ⛵ &nbsp; <h2>{{ .Site.Params.subtitle }}</h2>&nbsp; 🌎 &nbsp; } </div> <br> -->

			<div id="title-1" class="titles-content"> { <h1>{{ .Site.Title }}</h1> } </div> <br>
			<div id="title-and" class="titles-content"> & & </div> <br>
			<div id="title-2" class="titles-content"> { <h2>{{ .Site.Params.subtitle }}</h2> } </div> <br>

			<img class="techno-img" alt="draw technologies rust docker" src="img/competences/rust.png" />
			<!-- <img class="techno-img" alt="draw web technologies" src="img/competences/web.png" />  -->

			<div class="down-arrow-box">
				<a href=".#developer">
					<p class="down-arrow">
						⮛<br>⮛
					</p>
				</a>
			</div>

		</div>
	</section>

	<section id="developer" class="text-center content">
		<h1 class="title">{{ .Site.Title }}</h1> <br>
		<!-- <img alt="draw prof university" src="img/competences/prof.png" /> <br>
		<img alt="draw sail man" src="img/competences/marin.png" /> <br>
		<img alt="draw technologies rust docker" src="img/competences/rust.png" /> <br>
		<img alt="draw web technologies" src="img/competences/web.png" /> <br> -->
	</section>

</div>

{{ end }}