/* Error: Undefined variable.
 *   ,
 * 1 | $primary: $gray-100;
 *   |           ^^^^^^^^^
 *   '
 *   assets/sass/custom.scss 1:11  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 1 \2502  $primary: $gray-100;\a   \2502            ^^^^^^^^^\a   \2575 \a   assets/sass/custom.scss 1:11  root stylesheet";
}
