.contacts-icons {
	width: 70%;

	margin-left: auto;
	margin-right: auto;
	
	
	display: flex;
	justify-content: space-around;
	
	filter: drop-shadow(0 0 1rem $shadow);
	
	@media screen and #{$phone} {
		padding-top: 1em;
		height: 10em;
	}
	@media screen and #{$tablet} {
		padding-top: 1em;
		height: 12em;
	}
	@media screen and #{$laptop} {
		height: 15em;
	}
	@media screen and #{$tv} {
		height: 25em;
	}
}

.contacts-icons {
	@media screen and #{$laptop} {
		padding-top: 2em;
	}
	@media screen and #{$tv} {
		padding-top: 4em;
	}
}

.contacts-icons a img {
	padding: 1em;
	padding-bottom: 1vh;
	
	transition: 300ms;
	
	@media screen and #{$phone} {
		height: 3em;
	}
	@media screen and #{$tablet} {
		height: 4em;
	}
	@media screen and #{$laptop} {
		height: 4.5em;
	}
	@media screen and #{$tv} {
		height: 8em;
	}
}

.contacts-icons a:hover img {
		transform: scale(1.4);
}