.content > .section > .subtitle {
	padding-top: 2em;
}

.content > .section > .paragraph {
	margin-top: 3em;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.timeline {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	height: 25em;

	@media screen and #{$phone} {
		width: 95%;
	}
	@media screen and #{$tablet} {
		width: 90%;
	}
	@media screen and #{$tv} {
		height: 50em;
	}

	.event {
		display: flex;
		justify-content: space-between;
		margin-bottom: 0.5em;
		
		@media screen and #{$phone} {
			height: 4.5em;
		}
		@media screen and #{$tablet} {
			height: 4.5em;
		}
		@media screen and #{$laptop} {
			height: 4em;
		}
		@media screen and #{$tv} {
			height: 10em;
		}

		.star {
			text-align: center;
			width: 1em;
			padding: 0;
			margin-left: 1em;
			margin-right: 1em;
		}

		.right {
			text-align: right;
			width: 49%;
		}

		.left {
			text-align: left;
			width: 49%;
		}

		.date {
			font-style: italic;
			font-weight: bold;
		}

		.paragraph {
			margin-top: auto;
			margin-bottom: auto;
		}
	}
}
