.tables {

	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	
	@media screen and #{$phone} {
		padding-top: 1em;
		display: block;
	}
	@media screen and #{$tablet} {
		padding-top: 2em;
	}
	@media screen and #{$laptop} {
		padding-top: 2em;
		width: 65%;
	}
	@media screen and #{$tv} {
		@media (orientation: portrait) {
			width: 85%;
		}
		@media (orientation: landscape) {
			width: 60%;
		}
		padding-top: 5em;
	}
	
	.table {
		
		width: 50%;
		margin: 0;
		
		@media screen and #{$phone} {
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			height: 12em;
		}
		@media screen and #{$tablet} {
			height: 20em;
		}
		@media screen and #{$laptop} {
			height: 20em;
		}
		@media screen and #{$tv} {
			height: 45em;
		}

		.line {
			@extend .paragraph;

			@media screen and #{$phone} {
				font-size: 0.8em;
				padding-top: 0;
			}

			@media screen and #{$tv} {
				@media (orientation: portrait) {
					font-size: 2.4em;
				}
			}
	

			display: flex;
			margin-left: auto;
			margin-right: auto;
			padding-top: 1em;

			.names {
				width: 55%;
				text-align: right;
				padding-right: 0.5em;
				margin: 0;
			}
			.stars {
				width: 45%;
				text-align: left;
				padding-left: 0.5em;

				&>* {
					margin: 0 !important;
					padding: 0.2em !important;
					filter: drop-shadow(2px 2px 3px $dark);
				}
			}
		}

		.list {
			list-style-type: none;
			padding: 0;
			margin: 0;

			text-align: center;

			li {
				font-size: 1em;
				margin-top: 0.5em !important;
				padding: 0.2em !important;
				font-size: 1em;

				&>* {
					margin: 0 !important;
					padding: 0.2em !important;
				}
			}
		}

		.blue-color {
			color: #1584d4;
		}
	}

}

.cv {
	@media screen and #{$phone} {
		margin-top: 0.5em;
	}
	@media screen and #{$tablet} {
		margin-top: 1em;
	}
	@media screen and #{$laptop} {
		margin-top: 1em;
	}
	@media screen and #{$tv} {
	}

	.paragraph {
		margin-top: 2em;
		@media screen and #{$tv} {
			margin-top: 1em;
		}
	}
}