@import './footer.scss';

#contact-section aside {
	position: relative;
	height: 20vh;
}

.background-technologies {
	position: absolute;
	width: auto;

	filter: drop-shadow(0 0 2rem $dark);
}

#left-up {
	height: 28vh;
	bottom: 0;
	left: 20px;
}

#right-up {
	height: 25vh;
	bottom: 0;
	right: 20px;
}

#left-down {
	bottom: 0;
	left: 1%;
	width: 5%;
}

#right-down {
	bottom: 0;
	width: 5%;
	left: 94%;
}
