.images-background img {
	width: auto;
}

#left-technologies {
	position: absolute;
	bottom: 4px;
	left: 20px;

	height: 38vh;
}

#right-technologies {
	position: absolute;
	bottom: 0;
	right: 20px;

	height: 30vh;
}