$arrow-size: 1.5em;

.body {
	background-image: url("/img/4.png");
	background-color: $white;
	background-repeat: repeat-y;
	background-size: contain;
	
	margin-top: navbarHeight();	// @see ./header.css
}

#main {
	height: 90vh;
}

#projects-section {
	height: 100vh;
}

section {
	color: $dark;
}

.title-main {
	font-size: 2.5em;
	padding-top: 10vh;
}

.title-main h1 {
	display: inline;
}

.introduction {
	width: 95%;

	margin-left: auto;
	margin-right: auto;

	padding-top: 5vh;

	font-size: 1.5em;
}

.introduction p {
	font-style: italic;
}

.paragraph {
	display: flex;
	justify-content: space-around;

	padding-top: 10vh;

	margin-left: auto;
	margin-right: auto;
}

.paragraph p {
	margin-top: auto;
	margin-bottom: auto;
}

#par-1 {
	width: 65%;
}

#par-2 {
	width: 75%;
}

.arrow a {
	font-size: $arrow-size;
	transition: font-size 200ms;
}

.arrow a:hover {
	font-size: 2em;
}

.down-arrow-box {
	position: absolute;
	left: 50%;
	bottom: 2vh;
	transform: translate(-50%, 0);
}

.up-arrow-box {
	position: absolute;
	right: 4vh;
	top: 102vh;
}

#title-projects {
	padding-top: 5vh;
	padding-bottom: 5vh;
	margin-left: auto;
	margin-right: auto;
}

.projects {
	position: relative;

	width: 100%;
	
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.projects img {
	height: 15vh;
	width: auto;
}
.projects p {
	position: relative;

	margin-top: -5vh;

	background-color: $info;
	padding: 10px;

	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: $dark;

	font-size: 0.8em;

	visibility: hidden;
	opacity: 0;
	transition: 600ms;

	text-align: justify;

	width: 500px;
}

.projects a:hover+p {
	visibility: visible;
	opacity: 1;
}

.projects p a {
	color: $secondary;
	text-decoration: underline;
	text-align: justify;
}

.projects p:hover {
	visibility: visible;
	opacity: 1;
	display: block;
}
