$arrow-size: 1.5em;

/*
.body {
	background-image: url("/img/background.png");
	background-color: $white;
	background-repeat: repeat-y;
	background-size: contain;

	margin-top: navbarHeight(); // @see ./header.css
	color: $dark;
}
*/

.body h1 {
	padding-top: 5vh;
	padding-bottom: 5vh;
	text-align: center;
}

#intro-section {
	height: 90vh;
}

#projects-section {
	height: 100vh;
}

.title-h1 {
	font-size: 2.5em;
	text-align: center;
}

.star {
	display: inline;
	text-shadow: 1px 1px 0.2em black;

	font-size: 1.2em;

	padding-left: 20px;
	padding-right: 20px;
}

.title-h1 h1 {
	display: inline;
	text-shadow: 0 0 2px $gray-800;
}

#intro-title {
	padding-top: 10vh;
}

.introduction {
	width: 95%;

	margin-left: auto;
	margin-right: auto;

	padding-top: 5vh;

	font-size: 1.5em;
}

.introduction p {
	font-style: italic;
}

.paragraph {
	display: flex;
	justify-content: space-around;

	padding-top: 10vh;

	margin-left: auto;
	margin-right: auto;
}

.paragraph p {
	margin-top: auto;
	margin-bottom: auto;
}

#par-1 {
	width: 65%;
}

#par-2 {
	width: 75%;
}




/* - BEGIN: Arrows - */
.arrow {
	font-size: $arrow-size;
	transition: font-size 200ms;
}

.arrow:hover {
	font-size: 2em;
}

.down-arrow-box {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}

.up-arrow-box {
	position: absolute;
	right: 4vh;
}

#intro-section .down-arrow-box {
	top: 90vh;
}

#projects-section .up-arrow-box {
	top: 105vh;
}

#contact-section .up-arrow-box {
	top: 205vh;
}

/* - END: Arrows - */





#projects-title {
	padding-top: 5vh;
	padding-bottom: 5vh;
}

.simple-gallery-legends {
	display: none;
}

.gallery-container {
	margin-top: 5vh;
	display: flex;
	justify-content: space-around;
}

.project-description {

	background-color: $info;
	padding: 15px;

	border-radius: 10px;

	box-shadow: 5px 5px 5px $dark;

	font-size: 1em;

	transition: 600ms;

	text-align: justify;

	width: 70%;
	min-height: 30vh; /* Relative to the max content (QoCIM) */
}

.project-description a {
	color: $secondary;
	text-decoration: underline;
	text-align: justify;
}

$snipped-font-size: 1.2em;
$snippet-padding: 2em;

.project-description .snippet {

	padding-top: $snippet-padding;
	padding-bottom: $snippet-padding;
	width: 91%;

	text-align: left;

	display: inline-block;

	font-size: $snipped-font-size;

	overflow-wrap: break-word;

	cursor: pointer;
}
.code-copied {
	display: none;
	float: right;
	padding-top: $snippet-padding;
	width: 9%;
	font-size: $snipped-font-size;
}




#contact-title {
	padding-top: 5vh;
}

.contact-icons a img {
	height: 10vh;
	min-height: 70px;
	max-height: 120px;
	padding: 20px;
}

.contact-icons {
	width: 70%;

	padding-top: 5vh;
	padding-bottom: 5vh;

	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);

	display: flex;
	justify-content: space-around;

	z-index: 100;

	filter: drop-shadow(0 0 1rem $dark);
}