// $footer-height: 50px;

footer {
	background-color: $primary;

	// height: $footer-height;

	padding: 15px;
	padding-bottom: 0;

	font-size: 0.8em;

	border: 0;
	border-top: 2px;
	border-style: solid;
	border-color: $dark;

	
}

