/**
 * Nice height of avatar image
 */
@function avatarHeight() {
	@return calc(max(10vh, 80px));
}

/**
 * Height of navbar: height of avatar image + 10px to avoid clipping during rotation of avatar
 */
@function navbarHeight() {
	@return calc(max(10vh, 80px));
}

$font-size-2em: 2em;
$font-size-3em: 3em;
$font-size-4em: 4em;
$font-size-5em: 5em;

header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 200;

	width: 100%;

	border-bottom: solid;
	border-color: $dark;
	border-width: 2px;
}

/* navbar in default view */
#navbar {
	width: 100%;
	// height: navbarHeight()px;

	z-index: 2;
	margin: 0;
	padding: 0;
}

/* menu button */
.navbar-toggler {
	margin-left: 20px;
	border-style: solid;
	border-width: 3px;

	background-color: $primary;
}

.navbar-toggler:focus {
	box-shadow: none;
}

.navbar-toggler:hover {
	box-shadow: 5px 5px 5px $gray-600;
}

#navbar-toggler-icon {
	padding: 5px;
}

/* link over avatar image */
.navbar-avatar {
	position: relative;
	bottom: -20px;
	margin-left: auto;
	margin-right: auto;
	transform: translate(-30%, 0);
}

.avatar-img {
	border: none;
}

/* image of the avatar */
.avatar-img {
	height: avatarHeight();
	width: auto;
	transition: 500ms;

}

/* link navbar title */
#navbar-title {
	position: fixed;
	right: 20px;
}

#navbar-title:hover {
	border-color: $dark;
}

/* content displayed after roll down navbar */
#navbar-content {
	padding-top: 10px;
	padding-left: 30px;
	padding-bottom: 0;
}

.navbar-link {
	margin: 10px;
	display: block;
	// width: 200px;
	width: fit-content;
	block-size: fit-content;
}

.navbar-link:hover {
	border-color: $dark;
}
