@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

$primary: $gray-100;
$secondary: $blue-600;
$success: $green-100;
$info: $yellow-100;
$dark: $gray-800;
$light: $gray-400;

$body-color: $dark;
$body-bg: $primary;

$theme-colors: (
	"primary": $primary,
	"secondary": $secondary,
	"success": $success,
	"danger": $danger,
	"info": $info,
	"dark": $dark,
	"light": $light,
);


@import "node_modules/bootstrap/scss/bootstrap.scss";

@import './header.scss';
@import './content.scss';
@import './background.scss';

a {
	text-decoration: none;
	color: $dark;
	transition: 500ms;
	border-bottom: 2px solid transparent;
}

a:hover {
	color: $dark;
	border-color: black;
}
