@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

$primary: $gray-100;
$secondary: #c00c0c;
$success: #027e21;
$info: $indigo;
$dark: $gray-800;

$theme-colors: (
	"primary": $primary,
	"secondary": $secondary,
	"success": $success,
	"danger": $danger,
	"info": $info,
	"dark": $dark,
	"light": $light,
);

$body-color: $pink-500;
$body-bg: $primary;

@import "node_modules/bootstrap/scss/bootstrap.scss";

@import './header.scss';
@import './content.scss';

a {
	text-decoration: none;
	color: $dark;
}

a:hover {
	color: $dark;
	text-decoration: underline;
}