$normal: 1em;
$normal-large: 1.2em;
$normal-huge: 1.5em;

$large: 2em;
$large-up: 2.5em;

$larger: 3em;
$larger-up: 3.5em;

$huge: 4em;
$huge-up: 4.5em;

$jumbo: 5em;
$jumbo-up: 5.5em;

@media screen and (max-width: 1999px) {
	#navbar-title h4 {
		font-size: $large;
	}

	.navbar-link h5 {
		font-size: $large;
	}

	.arrow {
		font-size: $large;
	}

	p {
		font-size: $normal;
	}

	.paragraph p {
		font-size: $normal-huge;
	}

	#technologies li {
		font-size: $normal-large;
	}

	#contact p {
		font-size: $normal-large;
	}

	.star {
		font-size: $large;
	}
}

@media screen and (min-width: 2000px) {
	#navbar-title h4 {
		font-size: $larger;
	}

	.navbar-link h5 {
		font-size: $larger;
	}

	.navbar-toggler {
		font-size: $huge;
		border-radius: 20px;
	}

	h1 {
		font-size: $jumbo;
	}

	h2 {
		font-size: $huge;
	}

	p {
		font-size: $larger;
	}

	#contact p {
		font-size: $larger;
	}

	li {
		font-size: $larger;
	}

	.star {
		font-size: $jumbo;
	}

	.arrow {
		font-size: $jumbo;
	}
}