$large: 2em;
$larger: 3em;
$huge: 4em;
$jumbo: 5em;

@media screen and (min-width: 1300px) and (max-width: 1999px) {
	#navbar-title h4 {
		font-size: $large;
	}

	.navbar-link h5 {
		font-size: $large;
	}
}

@media screen and (min-width: 2000px) {
	#navbar-title h4 {
		font-size: $larger;
	}

	.navbar-link h5 {
		font-size: $larger;
	}

	.navbar-toggler {
		font-size: $huge;
		border-radius: 20px;
	}

	h1 {
		font-size: $large;
	}

	h2 {
		font-size: $larger;
	}

	p {
		font-size: $large;
	}

	#contact p {
		font-size: $larger;
	}

	li {
		font-size: $larger;
	}

	.star {
		font-size: $large;
	}

	.arrow {
		font-size: $jumbo;
	}
}