$primary: $gray-100;
$secondary: $blue-600;
$success: $green-100;
$info: #fffff1d1;
$dark: $gray-800;
$light: $gray-400;

$body-color: $dark;
$body-bg: $primary;

$theme-colors: (
	"primary": $primary,
	"secondary": $secondary,
	"success": $success,
	"danger": $danger,
	"info": $info,
	"dark": $dark,
	"light": $light,
);
