a {
  text-decoration: none; }

header {
  position: absolute;
  width: 100%;
  z-index: 1; }

#first-title {
  position: relative;
  top: 400px; }

.content {
  height: 100vh; }

.navbar-avatar {
  position: relative;
  bottom: -30px;
  margin-left: auto;
  margin-right: auto; }

.avatar-img {
  height: 25vh;
  width: auto;
  min-height: 80px;
  max-height: 120px; }

.navbar-title {
  position: relative;
  top: 0;
  right: 40px;
  z-index: 2; }

#first-content {
  background-image: url("/img/accueil.jpg");
  background-color: #00040f;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 10vh; }

body {
  color: var(--bs-pink); }
